services:
  - type: web
    name: quizcraft-api
    env: python
    buildCommand: |
      export CARGO_HOME=/tmp/cargo
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: uvicorn app.api.main:app --host